//colors
$grey : #333333;


//navigation styles
$nav-background : $grey;
$nav-text-color : white;

//Clock Styles
$clock-text-color :#ffffff;
$clock-bg-color : #B5D0E2;
$clock-border-color : #2099E8;
